/* RESET BROWSER STYLES */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	min-height: 100%;
}
/* END RESET BROWSER STYLES */

/* HTML DOCUMENT */
.tinted-image {
	background:
	/* transparent smoke */
	linear-gradient(rgba(72, 72, 72, .95), rgba(72,72,72,.15)),
	url(images/forest-mountain-lg.jpeg);
	background-position: center center; 
	background-repeat: no-repeat;
	background-color: black;
	font-family: 'Salsa', cursive, Arial, Helvetica, sans-serif;
	color: #80BA5D;
}
img {
	padding: .75rem;
	display: block;
	margin: auto;
}
.tinted-image a:hover{
	color: white;
}
/* END HTML */

/* HEADER */
ul {
	text-align: center;	
	list-style: none;
	margin-top: .75rem;
}
@media screen and (max-width: 520px){
	ul {
		display: flex;
		justify-content: space-evenly;
	}
}
@media screen and (min-width: 521px){
	li {
		display: inline;
		margin: 1rem 3rem;
	}
}
li a {
	color: #80BA5D;
	font-size: 1.25rem;
	text-decoration: none;
}
li a:hover {
	cursor: pointer;
}
/* END HEADER */

/* ASIDE */
aside {
	position: absolute;
	width: 3rem;
	top: 0;
	bottom: 0;
	right: 0;
}
i {
	position: absolute;
	top: 50%;
	right: 5px;
	border: 2px solid #80BA5D;
	border-radius: 2px;
}
/* END ASIDE */

/* MAIN OF HOME */
.text-position {
	text-align: center;
	margin-top: 235px;	
} 
/* END MAIN OF HOME */

/* MAIN OF PROJECTS/ABOUT*/
.article-format {
	text-align: center;
	margin: auto;
	margin-top: 1.25rem;
	background: linear-gradient(rgba(30, 30, 30, 0.75), rgba(30, 30, 30,.75));
	max-width: 80%;
	max-height: 30rem;
	overflow: scroll;
	border-radius: 10px;
}
/* make main top margin larger */
@media screen and (min-width: 713px) {
	.article-format {
		margin-top: 3.5rem;
	}
}
/* change max-width of main from % to a max rem value */
@media screen and (min-width: 825px) {
	.article-format {
		max-width: 45rem;
	}
}
.article-format h1 {
	padding: 1rem;
	padding-bottom: .25rem;
	font-size: 1.5rem;
	color: rgb(206, 206, 206);
}
/* increase main header font sizes */
@media screen and (min-width: 713px) {
	.article-format h1 {
		font-size: 1.5rem;
	}
}
.article-format p {
	text-align: left;
	padding-left: .25rem;
	text-indent: .75rem;
	
}
/* increase main paragraph attributes for readability */
@media screen and (min-width: 713px){
	.article-format p {
		font-size: 1.15rem;
		padding: 0.25rem 3rem 1.5rem 3rem;
		text-align: left;
		line-height: 1.75rem;
		text-indent: 2rem;
	}
}
/* END MAIN OF PROJECTS/ABOUT */

/* MAIN OF ALL PAGES */
.hide-content {
	display: none;
}

h1 {
	font-size: 2.5rem;
}

/* END MAIN OF ALL PAGES */

/* FOOTER */
footer {
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	left: 0;	
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}
/* END FOOTER */