/* RESET BROWSER STYLES */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	min-height: 100%;
}
/* END RESET BROWSER STYLES */

/* HTML DOCUMENT */
.tinted-image {
	background:
	/* transparent smoke */
	linear-gradient(rgba(72, 72, 72, .95), rgba(72,72,72,.15)),
	url(forest-mountain-lg.jpeg);
	background-position: center center; 
	background-repeat: no-repeat;
	background-color: black;
	font-family: 'Salsa', cursive, Arial, Helvetica, sans-serif;
	color: #80BA5D;
}
.tinted-image a:hover{
	color: white;
}
/* END HTML */

/* HEADER */
ul {
	text-align: center;	
	list-style: none;
}
@media screen and (max-width: 520px){
	ul {
		display: flex;
		justify-content: space-evenly;
	}
}
@media screen and (min-width: 521px){
	li {
		display: inline;
		margin: 1rem 3rem;
	}
}
li a {
	color: #80BA5D;
	text-decoration: none;
}
/* END HEADER */

/* ASIDE */
aside {
	position: absolute;
	width: 3rem;
	top: 0;
	bottom: 0;
	right: 0;
}
i {
	position: absolute;
	top: 50%;
	right: 5px;
	border: 2px solid #80BA5D;
	border-radius: 2px;
}
/* END ASIDE */

/* MAIN OF INDEX */
.text-position {
	text-align: center;
	margin-top: 235px;	
} 
/* END MAIN OF INDEX */

/* MAIN OF PROJECTS/ABOUT*/
.article-format {
	text-align: center;
	margin: auto;
	margin-top: 5rem;
	background: linear-gradient(rgba(30, 30, 30, 0.75), rgba(30, 30, 30,.75));
	max-width: 75%;
	border-radius: 10px;
}
.article-format h1 {
	padding: 1rem;
	color: rgb(206, 206, 206);
}
/* save this .artile-format p {} for larger screens after media query */
/* .article-format p {
	font-size: 1.25rem;
	padding: 0.25rem 3rem 3rem 3rem;
	text-align: left;
	line-height: 1.75rem;
	text-indent: 2rem;
} */


/* END MAIN OF PROJECTS/ABOUT */

/* MAIN OF ALL PAGES */
h1 {
	font-size: 2.5rem;
}

/* MAIN OF ALL PAGES */

/* FOOTER */
footer {
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	left: 0;	
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}
/* END FOOTER */